.u-text-align-center {
  text-align: center;
}

.u-margin-left-auto {
  margin-left: auto;
}

.u-margin-right-auto {
  margin-right: auto;
}

.u-margin-right-sm {
  margin-right: 1rem;
}

.u-margin-right-md {
  margin-right: 2rem;
}

.u-margin-top-0 {
  margin-top: 0;
}

.u-margin-top-sm {
  margin-top: 1rem;
}

.u-margin-bottom-sm {
  margin-bottom: 1rem;
}

.u-padding-bottom-xs {
  padding-bottom: 0.5rem;
}
