$color-gray-1: #fbfbfb;
$color-gray-2: #e5e5e5;
$color-gray-3: #d0d0d0;
$color-gray-4: #bababa;
$color-gray-5: #a5a5a5;
$color-gray-6: #8f8f8f;
$color-gray-7: #797979;
$color-gray-8: #646464;
$color-gray-9: #4e4e4e;
$color-gray-10: #393939;
$color-gray-11: #232323;

$map-background-color: #ffffff;
